$def with(coordinador)

<div class="p-3 mb-2 bg-success text-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h2 class="m-0">Detalles del Coordinador > $coordinador['nombre']</h2>
            </div>
            <div class="col-md-6 text-md-end">
                <nav class="navbar navbar-expand-md navbar-dark">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/index">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/registros">Personal</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/visitas">Visitas Externas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/new">Nuevo Registro</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/notifications">Reportes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/">Salir</a>
                            </li> 
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-group list-group-flush">
                        <form action="/actualizar_coordinador/$coordinador['username']" method="POST">
                            <li class="form-control"><strong>Nombre:</strong> <input type="text" name="nombre" value="$coordinador['nombre']"></li>
                            <li class="form-control"><strong>Apellido Paterno:</strong> <input type="text" name="apellido_paterno" value="$coordinador['apellido_paterno']"></li>
                            <li class="form-control"><strong>Apellido Materno:</strong> <input type="text" name="apellido_materno" value="$coordinador['apellido_materno']"></li>
                            <li class="form-control"><strong>Teléfono:</strong> <input type="text" name="telefono" value="$coordinador['telefono']"></li>
                            <li class="form-control"><strong>NSS:</strong> <input type="text" name="nss" value="$coordinador['nss']"></li>
                            <li class="form-control"><strong>Correo Electrónico:</strong> <input type="email" name="email" value="$coordinador['email']"></li>
                            <li class="form-control"><strong>Nombre de Usuario:</strong> <input type="text" name="username" value="$coordinador['username']"></li>
                            <li class="form-control"><strong>Carreras:</strong></li>
                            <li class="form-control">
                                <ul>
                                    $for carrera in coordinador['carreras']:
                                        <li><input type="text" name="carreras[]" value="$carrera['nombre']" readonly></li>
                                </ul>
                            </li>
                            <div class="mb-3">
                                <label class="form-label">Carreras:</label>
                                <div class="row">
                                    <div class="col">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <!-- Carreras disponibles -->
                                                    <!-- Aquí agregamos las carreras como se especificó en la solicitud -->
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="1" name="carrera[]" value="Diseño Digital" onchange="updateSelectedCarreras()">
                                                        <label class="form-check-label" for="1">Diseño Digital</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="2" name="carrera[]" value="Energias Renovables" onchange="updateSelectedCarreras()">
                                                        <label class="form-check-label" for="2">Energías Renovables</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="3" name="carrera[]" value="Industrial" onchange="updateSelectedCarreras()">
                                                        <label class="form-check-label" for="3">Industrial</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="4" name="carrera[]" value="Mecatrónica" onchange="updateSelectedCarreras()">
                                                        <label class="form-check-label" for="4">Mecatrónica</label>
                                                    </div>       
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="carrera5" name="carrera[]" value="Nanotecnología" onchange="updateSelectedCarreras()">
                                                        <label class="form-check-label" for="5">Nanotecnología</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="6" name="carrera[]" value="TIC" onchange="updateSelectedCarreras()">
                                                        <label class="form-check-label" for="6">TIC</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="7" name="carrera[]" value="Criminalística" onchange="updateSelectedCarreras()">
                                                        <label class="form-check-label" for="7">Criminalística</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="8" name="carrera[]" value="Contaduría" onchange="updateSelectedCarreras()">
                                                        <label class="form-check-label" for="8">Contaduría</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="9" name="carrera[]" value="Desarrollo de Negocios" onchange="updateSelectedCarreras()">
                                                        <label class="form-check-label" for="9">Desarrollo de Negocios</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="10" name="carrera[]" value="Terapia Física" onchange="updateSelectedCarreras()">
                                                        <label class="form-check-label" for="10">Terapia Física</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="11" name="carrera[]" value="Lic. Enfermería" onchange="updateSelectedCarreras()">
                                                        <label class="form-check-label" for="11">Lic. Enfermería</label>
                                                    </div>    
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="12" name="carrera[]" value="Lic. Salud Reproductiva" onchange="updateSelectedCarreras()">
                                                        <label class="form-check-label" for="12">Lic. Salud Reproductiva</label>
                                                    </div>                  
                                                </div>
                                            </div>
                                        </div>                            
                                    <div class="mb-3">
                                        <label class="form-label">Carreras seleccionadas:</label>
                                        <textarea class="form-control" id="carreraSeleccionada" name="carrera" readonly></textarea>
                                    </div>                        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form action="/edit_coordinador/$coordinador['username']" method="post">
                                <div class="text-center">
                                <button type="submit" class="btn btn-danger">
                                    <i class="bi bi-pen-fill"></i>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
                                      </svg>  <!-- Icono de borrar -->
                                </button>
                                </div>
                            </form>
                        <div>
                            <a href="/coordinadores" class="btn btn-primary">
                                <i class="bi bi-arrow-return-left"></i>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
                                </svg> 
                            </a>
                        </div>
                        </form>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
