$def with(director)

<div class="container-fluid bg-primary text-white p-3 mb-4">
    <h2 class="text-center m-0">¡Bienvenido Director $director['nombre']!</h2>
</div>

<div class="container mt-5">
    <div class="row">
        $for carrera in director['carreras']
            <div class="col-md-6">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <h5 class="card-title text-primary">$carrera['nombre']</h5>
                    </div>
                </div>
            </div>
      </div>
</div>