$def with ()

<div class="container">
    <div class="card mt-5 mx-auto" style="max-width: 400px;">
        <div class="card-body">
            <h5 class="card-title text-center">Iniciar Sesión</h5>
            <img src="../../static/images/logo.png" class="img-fluid mx-auto d-block" alt="Imagen de inicio de sesión">
            <form action="/login" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Ingrese su nombre de usuario" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Ingrese su contraseña" required>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
                </div>
            </form>
        </div>
    </div>
</div>