$def with(visitas)

<div class="container-fluid bg-primary text-white p-3 mb-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h2 class="m-0">Visitas a la Universidad</h2>
            </div>
            <div class="col-md-6 text-md-end">
                <nav class="navbar navbar-expand-md navbar-dark">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/index">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/visitas">Visitas Externas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/notifications">Reportes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/">Salir</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container">     
    <div class="container">
        <form action="/visitas/resultado" class="mb-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Ingresa la fecha (ejemplo: 16/03/2024)" aria-label="Buscar visita por fecha..." aria-describedby="basic-addon2" name="fecha_entrada" id="fecha_entrada">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="bi bi-calendar"></i> Buscar
                    </button>
                </div>
            </div>
        </form>        
    </div>    
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Motivo de Visita</th>
                <th>Área de Visita</th>
                <th>Fotografía</th>
                <th>Fecha</th>
                <th>Hora de Entrada</th>
                <th>Hora de Salida</th>
            </tr>
        </thead>
        <tbody>
            $for visita in visitas:
            <tr>
                <td><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/ver_visita/$visita['id']" width="100">$visita['visita']['visitante']['nombre']</a></td>
                <td>$visita['visita']['motivo']['descripcion']</td>
                <td>$visita['visita']['ubicacion']['area']</td>
                <td><img src="$visita['visita']['fotografia']" class="img-fluid" style="max-width: 50px;"></td>
                <td>$visita['visita']['registro']['fecha']</td>
                <td>$visita['visita']['registro']['hora_entrada']</td>
                <td>$visita['visita']['registro']['hora_salida']</td>
            </tr>
        </tbody>
    </table>
</div>