$for coordinador in coordinadores:
    <div class="col mb-4">
        <div class="card border-primary">
            <div class="card-header bg-primary text-white">
                <h5 class="card-title mb-0">$coordinador['nombre'] $coordinador['apellido_paterno'] $coordinador['apellido_materno']</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Correo: $coordinador['email']</p>
                <p class="card-text">Teléfono: $coordinador['telefono']</p>
                <p class="card-text">Nombre: $coordinador['nombre']</p>
            </div>
            <div class="card-footer">
                <a href="/ver_coordinador/$coordinador['username']" class="btn btn-primary">Ver Coordinador</a>
                <a href="/editar_coordinador/$coordinador['username']" class="btn btn-primary">Editar</a>
                <a href="/borrar_coordinador/$coordinador['username']" class="btn btn-primary">Borrar</a>
            </div>
        </div>
    </div>
$end
