<div class="container-fluid bg-primary text-white p-3 mb-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h2 class="m-0">
                    <img src="/static/images/icons/director.png" style="max-width: 50px; filter: grayscale(100%);">
                    Registro de Director
                </h2>
            </div>
            <div class="col-md-6 text-md-end">
                <nav class="navbar navbar-expand-md navbar-dark">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/index">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/visitas">Visitas a la Universidad</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/new">Nuevo Registro</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/notifications">Notificaciones</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/">Salir</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="card shadow">
        <div class="card-body">
            <form action="/directores_registration" method="post">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="apellido_paterno" class="form-label">Apellido Paterno:</label>
                            <input type="text" class="form-control" id="apellido_paterno" name="apellido_paterno" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="apellido_materno" class="form-label">Apellido Materno:</label>
                            <input type="text" class="form-control" id="apellido_materno" name="apellido_materno" required>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="telefono" class="form-label">Teléfono:</label>
                    <input type="tel" class="form-control" id="telefono" name="telefono" required>
                </div>

                <div class="mb-3">
                    <label for="nss" class="form-label">NSS:</label>
                    <input type="text" class="form-control" id="nss" name="nss" required>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Correo:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>

                <div class="mb-3">
                    <label for="username" class="form-label">Nombre de usuario:</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>

                <div class="mb-3">
                    <label for="password_md5" class="form-label">Contraseña:</label>
                    <input type="password" class="form-control" id="password_md5" name="password_md5" required>
                </div>

                <div class="mb-3">
                    <label for="numero_trabajador" class="form-label">Número de Trabajador:</label>
                    <input type="text" class="form-control" id="numero_trabajador" name="numero_trabajador" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Carrera:</label>
                    <div class="row">
                        <div class="col">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="1" name="carrera[]" value="Diseño Digital" onchange="updateSelectedCarreras()">
                                            <label class="form-check-label" for="1">Diseño Digital</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="2" name="carrera[]" value="Energias Renovables" onchange="updateSelectedCarreras()">
                                            <label class="form-check-label" for="2">Energías Renovables</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="3" name="carrera[]" value="Industrial" onchange="updateSelectedCarreras()">
                                            <label class="form-check-label" for="3">Industrial</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="4" name="carrera[]" value="Mecatrónica" onchange="updateSelectedCarreras()">
                                            <label class="form-check-label" for="4">Mecatrónica</label>
                                        </div>       
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="carrera5" name="carrera[]" value="Nanotecnología" onchange="updateSelectedCarreras()">
                                            <label class="form-check-label" for="5">Nanotecnología</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="6" name="carrera[]" value="TIC" onchange="updateSelectedCarreras()">
                                            <label class="form-check-label" for="6">TIC</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="7" name="carrera[]" value="Criminalística" onchange="updateSelectedCarreras()">
                                            <label class="form-check-label" for="7">Criminalística</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="8" name="carrera[]" value="Contaduría" onchange="updateSelectedCarreras()">
                                            <label class="form-check-label" for="8">Contaduría</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="9" name="carrera[]" value="Desarrollo de Negocios" onchange="updateSelectedCarreras()">
                                            <label class="form-check-label" for="9">Desarrollo de Negocios</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="10" name="carrera[]" value="Terapia Física" onchange="updateSelectedCarreras()">
                                            <label class="form-check-label" for="10">Terapia Física</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="11" name="carrera[]" value="Lic. Enfermería" onchange="updateSelectedCarreras()">
                                            <label class="form-check-label" for="11">Lic. Enfermería</label>
                                        </div>    
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="12" name="carrera[]" value="Lic. Salud Reproductiva" onchange="updateSelectedCarreras()">
                                            <label class="form-check-label" for="12">Lic. Salud Reproductiva</label>
                                        </div>                  
                                    </div>
                                </div>
                            </div>                            
                        <div class="mb-3">
                            <label class="form-label">Carreras seleccionadas:</label>
                            <textarea class="form-control" id="carreraSeleccionada" name="carrera" readonly></textarea>
                        </div>                        
                    </div>
                </div>

                

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
